@charset "utf-8";
/* CSS Document */
body{
	min-height:1000px;
}

#yi-header {
	position:relative;
	top:100px;
	
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 15em;
	line-height: 1.5em;
	right:15px;

}

ul#yi-menu {
	list-style-type: none;
	position:relative;
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 2.7em;
	line-height: 1em;
	right:25px;

}

ul#er-menu {
	list-style-type: none;
	position:relative;
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 2.5em;
	line-height: 1em;
	right:25px;
}

div#intropara{
	position:absolute;
	width:500px;
	left:50%;
	margin-left:-250px;
	text-align:center;
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 400;
    font-size: 1em;
	color:#000;
	
}

.detail#archdetail{
	position:relative;
	top:350px;
	width:1500px;
	height:1500px;
	background-color:#F5F5F5;
	
}

.detail-title{
	position:relative;
/*	text-align:left;
	top:40px;
	left:40px;
	*/
	width:1500px;
	height:1500px;
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 2.5em;
	
}


li {
	display:inline;
    color: #D0D0D0;
}