@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }



body {
  font-family: sans-serif;
  text-align: left;
}
#header {
	position:fixed;
	right:10px;
	font-family: DengXian, Calibri, HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 1.5em;
	z-index:1;
	
}

#catalogue{
	position:absolute;
	z-index:1;
	
}

.grid{
top:50px;
}

.list-link{position:absolute;top:68px;}
/* ---- button ---- */

.button {
  display: inline-block;
  text-align:left;
  background: white;
  border: none;

  color: #222;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: red;
}

.button:active,
.button.is-checked {
  background-color: white;
}

.button.is-checked {
  color: red;

}

.button:active {
  
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  /*float: left;*/
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/* ---- isotope ---- */



/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 310px;
  height: 310px;
  margin: 2px;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: relative;
  text-align: center;
  top: 50%;
  font-size: 25px;
  font-weight: bold;
  z-index:-1;
  color: red;
}

.element-item .size {
  position: relative;
  text-align: center;
  top: 55%;
  font-size: 25px;
  font-weight: normal;
  z-index:-1;
}

.element-item .type {
  position: relative;
  text-align: center;
  top: 60%;
  font-size: 25px;
  font-weight: normal;
  z-index:-1;
}



.element-item .time {
  position: relative;
  font-size: 25px;
  text-align: center;
  top: 65%;
  z-index:-1;
}


.list-img          { width: 310px; height:310px; }
